<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GPX File Uploader</title>

		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
	 
		 <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- Bootstrap JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<tag class="classname"></tag>
		<style>
			.classname{}
		</style>
	</head>
	<body role="document">


		<!-- Static navbar -->
		<div class="container">
	    <nav class="navbar navbar-default navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/">GPX Visualizer</a>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	                <ul class="nav navbar-nav">
	                    <li class="active"><a href="/">Home</a></li>
	                    <li><a href="#about">About</a></li>
	                    <li><a href="#contact">Contact</a></li>
	                    <li class="dropdown">
	                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Git<span class="caret"></span></a>
	                        <ul class="dropdown-menu">
	                            <li><a href="https://github.com/nicolehsieh/Project2/tree/master/Version_1">Version 1</a></li>
	                            <li><a href="#">Version 2</a></li>
	                            <li role="separator" class="divider"></li>
	                            <li class="dropdown-header">Documentations</li>
	                            <li><a href="https://github.com/nicolehsieh/Project2/wiki/User's-Guide">User's Guide</a></li>
	                           <li><a href="#">Software Desgin</a></li>
	                        </ul>
	                    </li>
	                </ul>
	            </div><!--/.nav-collapse -->
	        </div>
	    </nav>
	</div>
	    <br>
		</br>
		<div class="container theme-showcase" role="main">
		  <!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<h1>GPX Visualizer</h1>
				<p> An online gpx data viewer: simply upload your file and click on Map it to view your routes.
				</p>
			</div>
		</div>

		<div class="container">
			<div class="col-lg-8"> 
				<form id="upload-form" action="{{ url_for('upload_file') }}" method ="POST" enctype = "multipart/form-data">
					<div class="form-group">
						<label class="control-label col-sm-3" for="subject">Upload a GPX file:</label>
						<div class="col-sm-9">
							<input type="file" class="file" accept=".gpx" name="file" required/>
							<br>
						</div>

						<div class="col-sm-9 text-center" >
							<button type="reset" class="btn btn-default" name="submit" value="reset">Reset </button>
							<input type="submit" id="map-btn" class="btn btn-success" value="Map it"/> 

						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Google Hosted jQuery and Bootstrap JavaScript plugins  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
</html>
