<!DOCTYPE html>
<html>
    <head>
    	<title>Leaflet Example</title>

    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Google Hosted jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    	<!-- Leaflet -->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		 <!-- // <script src="https://rawgithub.com/mpetazzoni/leaflet-gpx/master/gpx.js"></script> -->
    </head>
    <body>
    	<div id="mapid" style="width: 1200px; height: 800px" action="{{ url_for('display') }}"></div>


    	<script type="text/javascript" >

    		var map = L.map('mapid');
			L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { 
					attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>'
				}).addTo(map);


			// var url = '/getgpx/'+'2014-01-01-07-30-08.gpx'; // URL to your GPX file
			
			points = {{ g["points"]}};
			//   which flask/jinja will change to points = [ (lat, lon), (lat, lon), ... ]
			//var url = '/uploads/'+'{{ name }}'; // URL to your GPX file or the GPX itself
			
			/* var line = new L.Polyline(points,{
				color: 'blue',
				weight: 3
			});
			map.addLayer(line); */
			
			var line = L.polyline(points).addTo(map);

/*
			new L.GPX(url, {
				async: true,
				marker_options: {
				    startIconUrl: "{{url_for('static', filename='images/pin-icon-start.png')}}",
				    endIconUrl: "{{url_for('static', filename='images/pin-icon-end.png')}}",
				    shadowUrl: "{{url_for('static', filename='images/pin-shadow.png')}}"
				}
			}).on('loaded', function(e) {
			  map.fitBounds(e.target.getBounds());
			}).addTo(map);
*/

			// adding request urls 

    	</script>
    </body>
</html>
