<!DOCTYPE html>
<html>
    <head>
    	<title>Display Map</title>

    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Google Hosted jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        

    	<!-- Leaflet -->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		
    
    </head>
    <body>
    	<div class="container" >
    		<div class="col-lg-12">
    			<h1 align="center">GPX Map</h1>
    			<br>
    			<div class="text-center">
    				<button type="button" class="btn btn-success btn-lg" id="play" onclick="playFunction()">Play</button>
	    			<button type="button" class="btn btn-warning btn-lg" id="pause" onclick="pauseFunction()">Pause</button>
	    			<button type="button" class="btn btn-danger btn-lg" id="stop" onclick="stopFunction()">Stop</button>
	    		</div>

	    		<br>
	    		<br>

    			<form class="form-horizontal" role="form" name="form" action="." method='POST'>

    				<label class="control-label col-sm-2" for="slider">Animation Duration (sec):</label>

		    		<div class="form-group col-sm-8 text-align: center;">
						<input type="range" id="slider" name="anim_length" max="60" value="" onchange="showValue(this.value)"/>
						<span for="slider" id="range" align="center"></span>
					</div>
					
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary btn-lg" name="submit" value="submit">Submit</button>
					</div>
    			</form>
    		</div>

    	</div>

    	<br><br>
    	<div class="container" >
    		<div id="mapid" style="width: 900px; height: 500px" action="{{ url_for('upload_file') }}"></div>
    	</div>
    	
		<!-- <script type=text/javascript src="{{ url_for('static', filename='js/AnimatedMarker.js') }}"></script>-->
		<script type=text/javascript src="{{ url_for('static', filename='js/MovingMarker.js') }}"></script> 
		<!-- //<script type=text/javascript src="{{ url_for('static', filename='js/L.Polyline.SnakeAnim.js') }}"></script> -->

    	<script type="text/javascript" >

			// ORIGINAL WORKING MAP DISPLAY

    		var map = L.map('mapid');

			L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { 
					attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>',
					maxZoom: 18
				}).addTo(map);
			map.attributionControl.setPrefix(''); // Don't show the 'Powered by Leaflet' text.


			var myIcon = L.icon({
				iconUrl: 'green-bike.png'
			});

			

	//=======================================================================
			//slider on change function
			function showValue(newValue){
				document.getElementById("range").innerHTML=newValue;
				//maybe include ajax code here to send (post?) this value to the flask side
			}
	// ======================================================================

			// longitudes and latitudes points
			var points = {{g["points"]}};
			var durations = {{g["durations"]}};
			// console.log(points)

			// some polyline options
			var polylineOptions = {
				color: 'blue',
				weight: 6,
				opacity: 0.9
			};

			var polyline = new L.Polyline(points, polylineOptions);
			map.addLayer(polyline);

			// zoom the map to the polyline
			map.fitBounds(polyline.getBounds());


			// MOVING MAKER - WORKS
			var myMovingMarker = L.Marker.movingMarker(points, durations, {
				icon: myIcon
			}).addTo(map);
			
			//Play, Pause, and Stop button functions
			function playFunction(){
				myMovingMarker.start();
			}
			function pauseFunction(){
				myMovingMarker.pause();
			}
			function stopFunction(){
				myMovingMarker.stop();
			}
			


			// ANIMATED MARKER - WORKS, but animations has problem. starts at random places, doesn't move along line, etc. Test with different gpx files, you'll see what I'm talking about. 
			// This address issue #6
			/*
			var line = L.polyline(points), animatedMarker = L.animatedMarker(line.getLatLngs(), {
			  distance: 300,  // meters
			  interval: 2000, // milliseconds
			});

			map.addLayer(animatedMarker);
			animatedMarker.start();
			*/

			// SNAKEIN - Not working
			// var line = L.polyline(points, {snakingSpeed: 200});
			// line.addTo(map).snakeIn();
			// var route = L.layerGroup([
			//     L.marker(airport1),
			//     L.polyline([airport1, airport2]),
			//     L.marker(airport2)
			// ], { snakingPause: 200 });
			// route.addTo(map).snakeIn();

    	</script>
    	

    </body>
</html>
