<!DOCTYPE html>
<html>
    <head>
    	<title>Display Map</title>

    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Google Hosted jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        

    	<!-- Leaflet -->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<!-- GPX Plugin -->
		 <!-- // <script src="https://rawgithub.com/mpetazzoni/leaflet-gpx/master/gpx.js"></script> -->
    
    </head>
    <body>
    	<h2>GPX Map</h2>
    	<button type="button" id="play" onclick = "playFunction()">Play</button>
    	<button type="button" id="pause" onclick = "pauseFunction()">Pause</button>
    	<button type="button" id="stop" onclick = "stopFunction()">Stop</button>
    	
    	<form>
			<div style="width: 300px">
				<label>Animation Duration (seconds): </label>
				<input type="range" name="anim_length" min="5" max="60" value = "10" step="5" onchange="showValue(this.value)"/>
				<span id="range">10</span>
			</div>
    	</form>
    	
    	<br>
    	<div id="mapid" style="width: 1200px; height: 800px" action="{{ url_for('upload_file') }}"></div>
    	
		<!-- <script type=text/javascript src="{{ url_for('static', filename='js/AnimatedMarker.js') }}"></script>-->
		<script type=text/javascript src="{{ url_for('static', filename='js/MovingMarker.js') }}"></script> 
		<!-- //<script type=text/javascript src="{{ url_for('static', filename='js/L.Polyline.SnakeAnim.js') }}"></script> -->

    	<script type="text/javascript" >

			// ORIGINAL WORKING MAP DISPLAY

    		var map = L.map('mapid');

			L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { 
					attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>',
					maxZoom: 18
				}).addTo(map);
			map.attributionControl.setPrefix(''); // Don't show the 'Powered by Leaflet' text.

	//=======================================================================
			//slider on change function
			function showValue(newValue){
				document.getElementById("range").innerHTML=newValue;
				//maybe include ajax code here to send (post?) this value to the flask side
			}
	// ======================================================================

			// longitudes and latitudes points
			var points = {{g["points"]}};
			var durations = {{g["durations"]}};
			// console.log(points)

			// some polyline options
			var polylineOptions = {
				color: 'blue',
				weight: 6,
				opacity: 0.9
			};

			var polyline = new L.Polyline(points, polylineOptions);
			map.addLayer(polyline);

			// zoom the map to the polyline
			map.fitBounds(polyline.getBounds());


			// MOVING MAKER - WORKS
			var myMovingMarker = L.Marker.movingMarker(points, durations).addTo(map);
			
			//Play, Pause, and Stop button functions
			function playFunction(){
				myMovingMarker.start();
			}
			function pauseFunction(){
				myMovingMarker.pause();
			}
			function stopFunction(){
				myMovingMarker.stop();
			}
			


			// ANIMATED MARKER - WORKS, but animations has problem. starts at random places, doesn't move along line, etc. Test with different gpx files, you'll see what I'm talking about. 
			// This address issue #6
			/*
			var line = L.polyline(points), animatedMarker = L.animatedMarker(line.getLatLngs(), {
			  distance: 300,  // meters
			  interval: 2000, // milliseconds
			});

			map.addLayer(animatedMarker);
			animatedMarker.start();
			*/

			// SNAKEIN - Not working
			// var line = L.polyline(points, {snakingSpeed: 200});
			// line.addTo(map).snakeIn();
			// var route = L.layerGroup([
			//     L.marker(airport1),
			//     L.polyline([airport1, airport2]),
			//     L.marker(airport2)
			// ], { snakingPause: 200 });
			// route.addTo(map).snakeIn();

    	</script>
    	<!-- // <script type=text/javascript src="{{ url_for('static', filename='js/displayMap.js') }}"></script> -->
    </body>
</html>
