<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GPX File Uploader</title>

        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
     
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    </head>
    <body role="document">

        <div class="container theme-showcase" role="main">
          <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>GPX Visualizer</h1>
                <p> An online gpx data viewer: simply upload your file and click on Map it to view your routes.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="col-lg-8"> 
                <form id="upload-form" action="{{ url_for('upload_file') }}" method ="POST" enctype = "multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="subject">Upload a GPX file:</label>
                        <div class="col-sm-9">
                            <input type="file" class="file" name="file" required/>
                            <br>
                        </div>

                        <div class="col-sm-9 text-center" >
                            <button type="reset" class="btn btn-default" name="submit" value="reset">Reset </button>
                            <input type="submit" id="map-btn" class="btn btn-success" value="Map it"/> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
  </body>
</html>
